<div class="mat-elevation-z8">
  <mat-card>
    <div class="button-row">
      <a mat-raised-button routerLink="neu">Neu</a>
    </div>
    <form layout="row">
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field flex="3">
              <mat-label>Nummer</mat-label>
              <input matInput placeholder="Nummer" value="" [(ngModel)]="request.nummer" name="nummer">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field flex="3">
              <mat-label>Name</mat-label>
              <input matInput placeholder="Name" value="" [(ngModel)]="request.nachname" name="nachname">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field flex="3">
              <mat-label>Vorname</mat-label>
              <input matInput placeholder="Vorname" value="" [(ngModel)]="request.vorname" name="vorname">
            </mat-form-field>
          </td>
          <td>
            <button flex="3" mat-raised-button color="primary" style="margin-bottom: 0px" (click)="suche()">Suchen
            </button>
          </td>
        </tr>
      </table>
    </form>

  </mat-card>

  <table mat-table class="full-width-table" [dataSource]="dataSource2">

    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef width="80">Id</th>
      <td mat-cell *matCellDef="let row">{{row.nummer}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let row">{{row.nachname}}</td>
    </ng-container>

    <ng-container matColumnDef="vorname">
      <th mat-header-cell *matHeaderCellDef>Vorname</th>
      <td mat-cell *matCellDef="let row">{{row.vorname}}</td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        (click)="anzeigen(row)"
    ></tr>
  </table>
</div>
