<form [formGroup]="addressForm" novalidate>
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Patient</mat-card-title>
    </mat-card-header>
    <mat-card-content>

      <mat-tab-group dynamicHeight>
        <mat-tab label="Patienteninfos">
          <div style="margin: 20px">
            <div class="row">
              <div class="col">
                <mat-form-field class="full-width">
                  <input matInput placeholder="Nummer" formControlName="nummer">
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <mat-form-field class="full-width">
                  <input matInput placeholder="Vorname" formControlName="firstName">
                  <mat-error *ngIf="addressForm.controls['firstName'].hasError('required')">
                    First name is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field class="full-width">
                  <input matInput placeholder="Name" formControlName="lastName">
                  <mat-error *ngIf="addressForm.controls['lastName'].hasError('required')">
                    Last name is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <mat-form-field class="full-width">
                  <textarea matInput placeholder="Addresse" formControlName="address"></textarea>
                  <mat-error *ngIf="addressForm.controls['address'].hasError('required')">
                    Address is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <mat-form-field appearance="fill">
              <mat-label>Befund</mat-label>
              <textarea matInput placeholder="Befund" formControlName="befund"
                        oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"'></textarea>
            </mat-form-field>
          </div>
        </mat-tab>
        <mat-tab label="Zahnstatus">
          <div style="margin: 20px">
            <app-zahnstatus></app-zahnstatus>
          </div>

        </mat-tab>
      </mat-tab-group>


      <button mat-raised-button (click)="onSubmit()">Speichern</button>
      <button mat-raised-button (click)="onDelete()">Löschen</button>
    </mat-card-content>
  </mat-card>
</form>
